<!DOCTYPE html>

<html lang="en"  class="no-js">
<head >
    <title>心灵旅游</title>

    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="fragment" content="!" />
    <!-- Semantic META -->
    <meta name="keywords" content="自由行,徒步,放松,大自然">
    <meta name="description" content="轻松自由行,放松身心">
    <meta name="304Fix" content="safari-fix">
    <!-- Fav Icon -->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/ionic.css">
    <link rel="stylesheet" href="stylesheets/wangEditor-1.3.0.min.css">
    <link rel="stylesheet" href="js/jslib/html5-boilerplate/dist/css/normalize.css">
</head>

<body ng-cloak  ng-app="myAppjs">

<div class="index-page" ui-view></div>
<script src="js/common/jquery-1.10.2.min.js"></script>
<script src="js/common/wangEditor-1.3.0.min.js"></script>
<script src="js/jslib/angularjs/angular.js"></script>
<script src="js/jslib/angular-ui/angular-ui-router.js"></script>

<script src="javascripts/main.js"></script>
<script src="views/MainCtrl.js"></script>
<script src="views/view1/view1.js"></script>
<script src="views/view2/view2.js"></script>
<script src="views/view3/view3.js"></script>
<script src="views/view4/view4.js"></script>
<script src="views/view5/view5.js"></script>
<script src="views/view3/ManageCtrl.js"></script>
<script src="views/view3/PublishCtrl.js"></script>
<script src="views/view3/MeCtrl.js"></script>
<script src="views/view1/activityDetailController.js"></script>
<script src="views/view1/activityList.js"></script>
<script src="views/view1/activityListService.js"></script>
<script src="views/view3/PublishCtrlService.js"></script>
<script src="views/view2/loginService.js"></script>
<script src="js/common/interpolate-filter.js"></script>
<script src="js/common/version-directive.js"></script>
<script src="js/common/version.js"></script>
<script src="js/jslib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</body>

</html>