<div class="main" ng-cloak>
<h3 class="login-title">登陆</h3>
    <form name="myForm" novalidate>
  <div class="item item-username">
    <input class="txt-input txt-username" name="username" type="text" ng-model="user.name" placeholder="请输入用户名/邮箱/已验证手机" autofocus="" ng-minlength="4" required>
      <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
      <span ng-show="myForm.username.$error.required">Username is required.</span>
           <span ng-show="myForm.username.$error.minlength">minlength is 11.</span>
      </span>
  </div>
  <div class="item item-password">
    <input class="txt-input txt-password" type="password"  name="password"ng-model="user.password" autocomplete="off"  ng-minlength="4" placeholder="请输入密码" required>
    <b class="tp-btn"  ng-click="changeTextType();" inputtype="{[{selected}]}"  ng-class="{false:'btn-on',true :'btn-off'}[selected]"></b>
 <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
      <span ng-show="myForm.password.$error.required">password is required.</span>
             <span ng-show="myForm.password.$error.minlength">minlength is 6.</span>
      </span>
  </div>

  <div class="item item-captcha">
    <div class="input-info">
      <input class="txt-input txt-captcha" type="text" size="11" name="captcha" ng-model="user.captcha" maxlength="6" autocomplete="off"  required placeholder="请输入验证码">
      <span id="captcha-img"><img src="/index/authcode?mod=login" width="63" height="25" alt=""></span>
    </div>
         <span style="color:red" ng-show="myForm.captcha.$dirty && myForm.captcha.$invalid">
      <span ng-show="myForm.captcha.$error.required">captcha is required.</span>
      </span>
    <div class="login-free "  ng-click="triggleLogin();" ng-class="{true: 'login-free-selected', false: ''}[autologin]"><b></b>一个月内免登录</div>
  </div>
  <div class="item item-btns">
    <a class="btn-login" ng-class="{true: '', false: 'btn-disabled'}[myForm.$valid]"  ng-click="submit();" href="javascript:;">登录</a>
  </div>
  <div class="item item-login-option">
            <span class="register-free">
                <a href="#" class="">免费注册</a>
            </span>
            <span class="retrieve-password">
                <a href="#" class="">找回密码</a>
            </span>
  </div>
        </form>
</div>