<div class="ad-cd">
    <div class="ad_header">
        <h3>20KM徒步禅心灵成长养生课堂第3期-太极之道做人之道</h3>
       <div class="sub-header"><span><i class="icon-user"></i>吴老师 7月1日</span><span>阅读653次 分享100次+</span></div>
    </div>
    <div class="ad-md-define">
  <div class="scrib-time">
      <p><i class="ion-android-time"></i>2015/07/28(周二) 19:00 开始</p>
      <p>07月27日 23:30 报名截止</p>
    </div>
        <div>
           <p><i class="ion-android-compass"></i>上海长宁区天山路789号天山商厦商务楼西楼8楼D座</p>
        </div>
        <div>
            <p><i class="ion-android-person"></i>已经报名14人</p>
            <p>限制报名15人</p>
        </div>
    </div>
    <div class="ad-content">
        <h3>20KM徒步禅推出第3期心灵成长养生课堂—走进青启太极生活馆（本活动得到青启太极大力支持）</h3>
        <p><b>内容：</b>20KM徒步禅走进太极，有人会问，徒步和太极有什么关系？关系大了！太极是一种动禅，在以用意为主，并由意领导动作，从而带动气的运动，却是可以养成练习者的专注力、身体松柔度，是初习禅定者一种很好的辅助运动。同时也是20KM徒步禅中行修调整练习者呼吸状态的一种训练！20KM徒步禅7月28日让我们一起走进青启太极养生馆</p>
        <h3>20KM徒步禅公众号（tubuchan）</h3>
        <h3>微信号:594928075</h3>
        <p><b>时间:</b>2015年7月28日周二 19:00-20:30</p>
        <p><b>地点:</b>上海市长宁区天山路789号天山商厦商务楼西楼8楼D座（地铁2号线娄山关路站）青启太极生活馆</p>
        <p><b>交通建议:</b>环保绿色出行，建议您来青启太极生活馆乘坐地铁2号线，到娄山关路站下。青启太极生活馆就在娄山关路站的地面之上。（如果您开车过来，天山商厦5元/小时的地下停车库同样方便经济。）</p>
         <p>联系人：吴老师18916790910   吴天临老师的电话：13817368288</p>
        <p><b>费用:</b>免费</p>
        <p><b>人数:</b>不超过15人（额满为止）</p>
        <h3>内容及流程：</h3>
        <p>【第一部分】太极理论</p>
        <p>什么是太极</p>
        <p>太极拳的起源和门派</p>
        <p>太极拳的养身功效</p>
        <p>【第二部分】基本礼仪</p>
        <p>太极礼仪“抱拳礼”的学习，同时体会动作准确到位的重要性</p>
        <p>【第三部分】静心</p>
        <p> 太极拳是静修动功的一个法门，养身养心，故而练习前需要先学会静心</p>
        <p>【第四部分】太极拳观赏</p>
        <p>由太极老师展示国家规范套路杨式8式、杨式24式、陈式24式、32式太极剑、传统杨式9式、武当赵堡太极8式</p>
        <p>【第五部分】太极拳基本功体验及招式学习</p>
        <p>【第六部分】一起打太极</p>
         <div class="img-parent">
            <img class="img-wrap" src="images/activity/laoshi1.jpg">
            <div>
                <p>教练简介：</p>
                <p>吴天临</p>
                <p>太极生活的倡导者</p>
                <p>青启太极生活馆馆主</p>
                <p>武当赵堡太极拳第14代传人（何俊龙掌门的亲传弟子）</p>
                <p>传统太极拳名师韩鹤平老师的亲授弟子</p>
                <p>多年世界500强企业高管</p>
                <p>多年海外工作经历</p>
                <p>多年传统行业创业合伙人</p>
            </div>
           </div>
           <div class="img-parent">
            <img class="img-wrap" src="images/activity/laoshi2.jpg">
            <div>
                <p>钟 鸣</p>
                <p>太极生活的倡导者</p>
                <p>武当赵堡太极拳第14代传人（何俊龙掌门的亲传弟子）</p>
                <p>杨氏太极拳第7代传人（李传忠师父的亲传弟子）</p>
                <p>太极拳名师韩鹤平老师的亲授弟子</p>
                <p>太极拳名师戴炜老师的亲授弟子</p>
                <p>多年外企高管</p>
                <p>多年人力资源管理咨询顾问</p>
            </div>
               <img class="img-wrap" src="images/activity/jingdia.jpg">
           </div>

    </div>
    <div class="footer">
        <p><a href=""><i class="ion-ios-heart-outline"></i>点赞</a></p>
     <div class="sub-list">
         <p>3人已经报名</p>
         <p ><img src="images/activity/header01.jpg">张改玲<span>7月24日</span></p>
         <p ><img src="images/activity/header02.jpg">彭海英<span>7月24日</span></p>
         <p ><img src="images/activity/header01.jpg">张改玲<span>7月24日</span></p>
     </div>
        <div>
            <div ontouchstart="" onclick="_reviewBox._post()" class="dt_review_top">
                <p id="dt_review_count" class="dt_review_topL">快来发表你的评论</p>

                <p class="dt_review_topR" ontouchstart=""><span ontouchstart="">评论</span><a><img src="http://img1.hudongba.cn/static_v4/images/detail/dt_review.png" title="评论"></a></p>

                <a id="plWei" name="plWei"></a>
            </div>
        </div>
    </div>
    <div class="ad-bottom">
        <p>更多活动</p>

    </div>

</div>
<div class="fixed-footer">
    <ul>
        <li><a class="ion-ios-plus-outline">我要发布</a></li>
        <li><a class="ion-ios-person-outline">我要报名</a></li>
    </ul>
</div>
