<div class="list-wrap">
    <div class="actList-header"><span>活动列表</span><span><i class="icon-pos ion-toggle"></i>更换一批</span></div>
    <div class="list-item" ng-click="redirectToDetail(title);">
        <img src="images/activity/ttaiji-title.jpg">
        <div class="item-left">
            <h4>20KM徒步心灵成长养生课堂第3期-太极之道做人</h4>
            <p><i class="ion-android-time"></i>时间:2015年10月1日-2015年10月3日</p>
            <p><i class="ion-android-map"></i>地点:上海体育场<span class="activity-money"><b>45</b>人参加￥540起</span></p>
        </div>
    </div>
    <div class="list-item">
        <img src="images/activity/ttaiji-title.jpg">
        <div class="item-left">
            <h4>20KM徒步心灵成长养生课堂第3期-太极之道做人</h4>
            <p><i class="ion-android-time"></i>时间:2015年10月1日-2015年10月3日</p>
            <p><i class="ion-android-map"></i>地点:上海体育场<span class="activity-money"><b>45</b>人参加￥540起</span></p>
        </div>
    </div>
    <div class="list-item">
        <img src="images/activity/ttaiji-title.jpg">
        <div class="item-left">
            <h4>20KM徒步心灵成长养生课堂第3期-太极之道做人</h4>
            <p><i class="ion-android-time"></i>时间:2015年10月1日-2015年10月3日</p>
            <p><i class="ion-android-map"></i>地点:上海体育场<span class="activity-money"><b>45</b>人参加￥540起</span></p>
        </div>
    </div>
    <div class="list-item">
        <img src="images/activity/ttaiji-title.jpg">
        <div class="item-left">
            <h4>20KM徒步心灵成长养生课堂第3期-太极之道做人</h4>
            <p><i class="ion-android-time"></i>时间:2015年10月1日-2015年10月3日</p>
            <p><i class="ion-android-map"></i>地点:上海体育场<span class="activity-money"><b>45</b>人参加￥540起</span></p>
        </div>
    </div>
    <div class="list-item">
        <img src="images/activity/ttaiji-title.jpg">
        <div class="item-left">
            <h4>20KM徒步心灵成长养生课堂第3期-太极之道做人</h4>
            <p><i class="ion-android-time"></i>时间:2015年10月1日-2015年10月3日</p>
            <p><i class="ion-android-map"></i>地点:上海体育场<span class="activity-money"><b>45</b>人参加￥540起</span></p>
        </div>
    </div>
    <div class="list-item">
        <img src="images/activity/ttaiji-title.jpg">
        <div class="item-left">
            <h4>20KM徒步心灵成长养生课堂第3期-太极之道做人</h4>
            <p><i class="ion-android-time"></i>时间:2015年10月1日-2015年10月3日</p>
            <p><i class="ion-android-map"></i>地点:上海体育场<span class="activity-money"><b>45</b>人参加￥540起</span></p>
        </div>
    </div>
    <div class="list-item">
        <img src="images/activity/ttaiji-title.jpg">
        <div class="item-left">
            <h4>20KM徒步心灵成长养生课堂第3期-太极之道做人</h4>
            <p><i class="ion-android-time"></i>时间:2015年10月1日-2015年10月3日</p>
            <p><i class="ion-android-map"></i>地点:上海体育场<span class="activity-money"><b>45</b>人参加￥540起</span></p>
        </div>
    </div>
</div>

